TwitchBotClient/Service References/TwitchBotService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BotService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/TwitchBotService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBotService_StartUser_InputMessage">
    <wsdl:part name="parameters" element="tns:StartUser" />
  </wsdl:message>
  <wsdl:message name="IBotService_StartUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartUserResponse" />
  </wsdl:message>
  <wsdl:message name="IBotService_StopUser_InputMessage">
    <wsdl:part name="parameters" element="tns:StopUser" />
  </wsdl:message>
  <wsdl:message name="IBotService_StopUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:StopUserResponse" />
  </wsdl:message>
  <wsdl:message name="IBotService_StartViewBot_InputMessage">
    <wsdl:part name="parameters" element="tns:StartViewBot" />
  </wsdl:message>
  <wsdl:message name="IBotService_StartViewBot_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartViewBotResponse" />
  </wsdl:message>
  <wsdl:message name="IBotService_StopViewBot_InputMessage">
    <wsdl:part name="parameters" element="tns:StopViewBot" />
  </wsdl:message>
  <wsdl:message name="IBotService_StopViewBot_OutputMessage">
    <wsdl:part name="parameters" element="tns:StopViewBotResponse" />
  </wsdl:message>
  <wsdl:message name="IBotService_StartIrcBot_InputMessage">
    <wsdl:part name="parameters" element="tns:StartIrcBot" />
  </wsdl:message>
  <wsdl:message name="IBotService_StartIrcBot_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartIrcBotResponse" />
  </wsdl:message>
  <wsdl:message name="IBotService_StopIrcBot_InputMessage">
    <wsdl:part name="parameters" element="tns:StopIrcBot" />
  </wsdl:message>
  <wsdl:message name="IBotService_StopIrcBot_OutputMessage">
    <wsdl:part name="parameters" element="tns:StopIrcBotResponse" />
  </wsdl:message>
  <wsdl:message name="IBotService_GetUserInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserInfo" />
  </wsdl:message>
  <wsdl:message name="IBotService_GetUserInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="IBotService">
    <wsdl:operation name="StartUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IBotService/StartUser" message="tns:IBotService_StartUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBotService/StartUserResponse" message="tns:IBotService_StartUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StopUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IBotService/StopUser" message="tns:IBotService_StopUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBotService/StopUserResponse" message="tns:IBotService_StopUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartViewBot">
      <wsdl:input wsaw:Action="http://tempuri.org/IBotService/StartViewBot" message="tns:IBotService_StartViewBot_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBotService/StartViewBotResponse" message="tns:IBotService_StartViewBot_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StopViewBot">
      <wsdl:input wsaw:Action="http://tempuri.org/IBotService/StopViewBot" message="tns:IBotService_StopViewBot_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBotService/StopViewBotResponse" message="tns:IBotService_StopViewBot_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartIrcBot">
      <wsdl:input wsaw:Action="http://tempuri.org/IBotService/StartIrcBot" message="tns:IBotService_StartIrcBot_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBotService/StartIrcBotResponse" message="tns:IBotService_StartIrcBot_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StopIrcBot">
      <wsdl:input wsaw:Action="http://tempuri.org/IBotService/StopIrcBot" message="tns:IBotService_StopIrcBot_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBotService/StopIrcBotResponse" message="tns:IBotService_StopIrcBot_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IBotService/GetUserInfo" message="tns:IBotService_GetUserInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBotService/GetUserInfoResponse" message="tns:IBotService_GetUserInfo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBotService" type="tns:IBotService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StartUser">
      <soap:operation soapAction="http://tempuri.org/IBotService/StartUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StopUser">
      <soap:operation soapAction="http://tempuri.org/IBotService/StopUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartViewBot">
      <soap:operation soapAction="http://tempuri.org/IBotService/StartViewBot" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StopViewBot">
      <soap:operation soapAction="http://tempuri.org/IBotService/StopViewBot" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartIrcBot">
      <soap:operation soapAction="http://tempuri.org/IBotService/StartIrcBot" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StopIrcBot">
      <soap:operation soapAction="http://tempuri.org/IBotService/StopIrcBot" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <soap:operation soapAction="http://tempuri.org/IBotService/GetUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BotService">
    <wsdl:port name="BasicHttpBinding_IBotService" binding="tns:BasicHttpBinding_IBotService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/TwitchBotService/BotService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>