TwitchBotClient/Service References/TwitchBotService/TwitchBotService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TwitchBotService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TwitchBotService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="HasStopped" type="xs:boolean" />
      <xs:element minOccurs="0" name="IrcBot" nillable="true" type="tns:IrcBotInfo" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ViewBot" nillable="true" type="tns:ViewBotInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="IrcBotInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Enabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="EndTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HasAccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="Running" type="xs:boolean" />
      <xs:element minOccurs="0" name="StartTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IrcBotInfo" nillable="true" type="tns:IrcBotInfo" />
  <xs:complexType name="ViewBotInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Enabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="EndTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HasAccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="Running" type="xs:boolean" />
      <xs:element minOccurs="0" name="StartTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ViewBotInfo" nillable="true" type="tns:ViewBotInfo" />
</xs:schema>